@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --CorFundo: hsl(0, 0%, 8%);
    --CorBloco: hsl(0, 0%, 12%);
    --CorBotao: hsl(0, 0%, 20%);
    --CorDestaque: hsl(75, 94%, 57%);
    --CorLetras: hsl(0, 0%, 100%);
}

body{
    background-color: var(--CorFundo);
    font-family: Inter;
    color: var(--CorLetras);
    font-size: 14px;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: var(--CorBloco);
    align-items: center;
    border-radius: 10px;
    margin: 15% 5% 15% 5%;
}

h1 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 14px;
    color: var(--CorDestaque);
}

h3 {
    text-align: center;
    font-size: 12px;
    padding: 20px;
    font-weight: 400;
}

.conteudo_links {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.conteudo_links > a {
    text-decoration: none;
    color: var(--CorLetras);
    margin: 8px;
    height: 45px;
    background-color: var(--CorBotao);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteudo_links > a:hover{
    color: var(--CorFundo);
    background-color: var(--CorDestaque);
    
}

img {
    width: 100px;
    margin: 3%;
}


footer {
    padding: 20px 0px;
    background-color: var(--CorBotao);
}

.attribution {
    font-size: 10px;
}

.attribution > a {
    text-decoration: none;
    color: var(--CorLetras);
}

footer.fixar-rodape{
    bottom: 0;
    left: 0;
    height: 15px;
    position: fixed;
    width: 100%;
}

@media(min-width: 768px) {
    .conteudo {
        width: 350px;
        margin: 150px auto;
        padding: 20px;
    }

    img {
        width: 120px;
    }
    
}

@media(min-width: 1920px) {
    .conteudo {
        width: 500px;
        margin: 5% auto;
    }

    .conteudo_links {
        width: 450px;
    }

    img {
        width: 150px;
        padding: 10px;
    }
    
}


